# Python cache
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Virtual env
venv/
env/
.venv/
.env/
virtualenv/
VirtualEnv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment vars
.env
*.env
!.env.example

# TLS/SSL certificates
certs/

# Logs
*.log
logs/

# Backup

backups/